/* Importaciones--------------------------------------------------------- */
/* font-family: 'Inter', sans-serif; 300 500 */
/* font-family: amsterdam-one; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@font-face {font-family: amsterdam-one; src: url(../fonts/amsterdam-one.ttf); font-display: swap;}

/* Variables--------------------------------------------------------------------------------- */
:root{
    /* Colores */
    --colorPrincipal: #7F4C8D;
    --white: white;
    --black: black;
    /* Font-Weigth */
    --weigthLith: 300;
    --weigthBold: 500;
    /* Shadows */
    --shadowComponets: 0 0 10px rgba(0, 0, 0, 0.25);
    --shadowButtons: 0 4px 5px rgba(0, 0, 0, 0.25);
    /* Paddins */
    --paddingButtons: 1em 0;
    /* Tamaño Textos */
    --sizeTextos: 1rem;
    --sizeTitle: 2.2rem;
    
    --SpacioLetter: 0.09em;
    --SpacioBreak: 221.02%;
}

/* Normalizacion ----------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    letter-spacing: var(--SpacioLetter);
    line-height: var(--SpacioBreak);
    font-weight: var(--weigthLith);
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    height: .8rem;
    width: .8rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--colorPrincipal);
    border-radius: 5rem;
 }
section{
    width: 90%;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 100px;
}
h1 span, h2{
    font-family: amsterdam-one;
    letter-spacing:  var(--SpacioLetter);
    font-size: var(--sizeTitle);
    font-weight: 300;
    text-align: center;
}

.sectionEncabezado_title{
    text-align: center;
}

.conteinerImg{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    overflow: hidden;
}

.conteinerImg_item{
    width: 100%;
    height: 100%;
}

.conteinerSpace{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.puntos{
    font-size: var(--sizeTitle);
    color: var(--colorPrincipal);
    font-weight: var(--weigthBold);
}
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}


/* Menu Flotante ------------------------------------------------------------------------------ */
.flotanteMenu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all .5s;
    transform: translateY(-100%);
}
.flotanteMenu--on{
    transform: translateX(0);
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    background-color: var(--white);
}

.menu_item{
    font-family: amsterdam-one;
    letter-spacing: var(--SpacioLetter);
    text-align: center;
    color: var(--black);
    width: 100%;
    padding: 1em;
    border: 1px solid var(--colorPrincipal);
    border-radius: 5px;
    transition: all.3s;
}
.menu_item:hover{
    background-color: var(--colorPrincipal);
    color: var(--white);
}



/* Barra de Navegación-------------------------------------------------------------------------- */
.conteinerNav{
    background-color: var(--white);
    box-shadow: var(--shadowComponets);
    padding: 0 1em;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.conteinerLogo{
    width: 80px;
}
.conteinerLogo_item{
    width: 100%;
}
.nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav_item{
    color: var(--black);
    font-weight: var(--weigthBold);
    font-weight: 300;
    transition: all .3s;
}

.nav_item:hover{
    color: var(--colorPrincipal);
    scale: 1.2;
}
.conteinerMenu{
    display: none;
    justify-content: center;
    align-items: center;
}
.conteinerMenu_item{
    color: var(--colorPrincipal);
    font-size: 1.8rem;   
    line-height: 0px;
    padding: 10px 0;
}


/* Section Encabezado---------------------------------------------------------------------------- */
.sectionEncabezado{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sectionEncabezado_description{
    letter-spacing:  var(--SpacioLetter);
    text-align: center;
    line-height: var(--SpacioBreak);
    max-width: 800px;
    font-size: var(--sizeTextos);
}
.conteinerRedes{
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteinerRedes_item{
    font-size: var(--sizeTitle);
    color: var(--colorPrincipal);
    display: block;
    transition: scale .3s;
}
.conteinerRedes_item:hover{
    scale: 1.3;
}

/* Section Sobre Mi ------------------------------------------------------------------- */
.sectionSobreMi{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.carrusel{
    max-width: 800px;
    overflow: hidden;
}
.cajaCarrusel{
    width: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s
}
.sectionSobreMi_description{
    width: 100%;
    text-align: center;
    padding: 0 1em;
    line-height: var(--SpacioBreak);
    letter-spacing: var(--SpacioLetter);
    font-size: var(--sizeTextos);
}

.conteinerButton{
    margin: 0 auto;
}
.conteinerButton_description{
    font-family: amsterdam-one;
    color: var(--colorPrincipal);
    font-size: var(--sizeTextos);
    margin-bottom: 10px;
    text-align: center;
}
.conteinerButton_arrow{
    color: var(--colorPrincipal);
    font-size: var(--sizeTitle);
    display: inline;
    margin: 0 10px;
}
.conteinerButton_button{
    border: none;
    background: none;
    font-size: var(--sizeTitle);
    color: var(--colorPrincipal);
    display: inline;
    cursor: pointer;
    padding: 10px 0;
    transition: all .3s;
}
.conteinerButton_button:hover{
    scale: 1.3;
    padding: 10px 10px;
}

/* Section Conocimientos ---------------------------------------------------------------------------- */
.sectionConocimientos{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.conteinerConocimientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.cardConocimientos{
    width: 30%;
    border: 1px solid var(--colorPrincipal);
    border-radius: 10px;
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--shadowComponets);
    position: relative;
    overflow: hidden;
}
.cardConocimientosPortada{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7F4C8D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .5s;
}
.cardConocimientos:hover .cardConocimientosPortada{
    transform: translatey(-100%);
}
.cardConocimientos_icon{
    font-size: 7rem;
    color: var(--white);
    text-align: center;
}
.cardConocimientos_title{
    font-family: amsterdam-one;
    font-weight: var(--weigthBold);
    text-align: center;
}
.cardConocimientos_description{
    font-weight: var(--weigthLith);
    text-align: center;
}


/* Section Proyectos ------------------------------------------------------------------ */
.sectionProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.proyectos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.proyecto_img{
    max-width: 350px;
    box-shadow: var(--shadowComponets);
    border-radius: 5px;
    margin-left: 10px;
}
.proyecto_arrow{
    font-size: var(--sizeTitle);
    color: var(--colorPrincipal);
    font-weight: var(--weigthBold);
}
.proyectoConteinerDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.proyectoConteinerDescription_title{
    font-weight: var(--weigthBold);
}
.proyectoConteinerDescription_button{
    display: inline-block;
    width: 250px;
    background-color: var(--colorPrincipal);
    color: var(--white);
    border: none;
    padding: .4em 3em;
    border-radius: 5px;
    box-shadow: var(--shadowButtons);
    border: 1px solid var(--colorPrincipal);
    transition: all .3s;
    text-align: center;
}
.proyectoConteinerDescription_button:hover{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}


/* Section Contactame ------------------------------------------------------------ */
.conteinerContactame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
}
.sectionContactame{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.form_input{
    width: 100%;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px solid var(--black);
}
.form_button{
    width: 200px;
    border: 1px solid var(--colorPrincipal);
    background-color: var(--colorPrincipal);
    color: var(--white);
    border-radius: 5px;
    padding: .4em 3em;
    transition: all .3s;
}
.form_button:hover{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}


/* Footer ------------------------------------------------------------ */
.footer{
    background-color: var(--colorPrincipal);
    color: var(--white);
    text-align: center;
    padding: 1em;
}